@media (min-width: 576px) {
  .top-left-shape {
    top: -35%;
    left: -50%;
  }

  .top-right-shape {
    top: -35%;
    right: -50%;
  }

  .form-container {
    width: 85%;
  }

  .top-projects-shape {
    top: 10%;
    left: -80%;
  }

  .bottom-projects-shape {
    bottom: 5%;
    right: -80%;
  }
}

@media (min-width: 768px) {
  .top-left-shape {
    top: -30%;
    left: -40%;
  }

  .top-right-shape {
    top: -40%;
    right: -30%;
  }

  .form-container {
    width: 80%;
  }

  .top-projects-shape {
    top: 10%;
    left: -65%;
  }

  .bottom-projects-shape {
    bottom: 5%;
    right: -65%;
  }

  .contact-shape {
    top: 65%;
    left: 30%;
  }

  h1 {
    padding-block-start: 2rem;
  }

  .personal-img {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 992px) {
  .upper-personal-img-shape {
    background-color: #fffaca;
    top: -50%;
    right: 50%;
    width: 580px;
    height: 580px;
  }

  .top-right-shape {
    background-color: #cdf6ff;
    top: -20%;
    right: -20%;
  }

  .top-left-shape {
    top: -30%;
    left: -20%;
  }

  .navbar-collapse {
    background-color: transparent;
    padding: 0;
  }

  header .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 3rem;
    max-width: 650px;
    width: 500px;
    margin-inline: 0;
    margin-block-start: 0;
    padding-block-start: 0;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  footer h2 {
    font-size: 3rem;
    max-width: 550px;
  }

  #personal-links a,
  footer .footer-links a,
  abbr {
    font-size: 1.7rem;
  }

  #personal-links .links-list li {
    padding: 0.5rem;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
  }

  .skills-list {
    justify-content: flex-start;
  }

  .form-container {
    width: 70%;
  }

  .least-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .top-projects-shape {
    top: 10%;
    left: -50%;
  }

  .bottom-projects-shape {
    bottom: 5%;
    right: -50%;
  }

  .contact-shape {
    top: 65%;
    left: 45%;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
    width: 600px;
  }

  .container {
    width: 87%;
  }

  .introduction {
    width: 75%;
    font-size: 1.5rem;
  }

  .top-left-shape {
    top: -30%;
    left: -10%;
  }

  .top-right-shape {
    top: -20%;
    right: -15%;
  }

  .upper-personal-img-shape {
    top: -30%;
    right: 15%;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project {
    max-width: 100%;
  }

  .services-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .form-container {
    width: 55%;
  }

  .top-projects-shape {
    top: 10%;
    left: -35%;
  }

  .bottom-projects-shape {
    bottom: 5%;
    right: -35%;
  }

  .personal-img {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 4rem;
    max-width: 650px;
    width: 635px;
  }

  .container {
    width: 79%;
  }

  .form-container {
    width: 45%;
  }

  .top-projects-shape {
    top: 10%;
    left: -25%;
  }

  .bottom-projects-shape {
    bottom: 5%;
    right: -25%;
  }

  .contact-shape {
    top: 65%;
    left: 45%;
  }

  .personal-img {
    width: 550px;
    height: 550px;
  }
}
